<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.datasource">java:comp/env/jdbc/sipro</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="pojo.Actividad" />
        <mapping class="pojo.ActividadUsuario" />
        <mapping class="pojo.ActividadUsuarioId" />
        <mapping class="pojo.AcumulacionCosto" />
        <mapping class="pojo.AsignacionRaci" />
        <mapping class="pojo.AutorizacionTipo" />
        <mapping class="pojo.ComponenteUsuario" />
        <mapping class="pojo.ComponenteUsuarioId" />
        <mapping class="pojo.ProyectoUsuario" />
        <mapping class="pojo.ProyectoUsuarioId" />
        <mapping class="pojo.ProductoUsuario" />
        <mapping class="pojo.ProductoUsuarioId" />
        <mapping class="pojo.ActividadPropiedad" />
        <mapping class="pojo.ActividadPropiedadValor" />
        <mapping class="pojo.ActividadTipo" />
        <mapping class="pojo.AtipoPropiedad" />
        <mapping class="pojo.Colaborador" />
        <mapping class="pojo.Componente" />
        <mapping class="pojo.ComponentePropiedad" />
        <mapping class="pojo.ComponentePropiedadValor" />
        <mapping class="pojo.ComponenteSigade" />
        <mapping class="pojo.ComponenteTipo" />
        <mapping class="pojo.Cooperante" />
        <mapping class="pojo.CtipoPropiedad" />
        <mapping class="pojo.DatoTipo" />
        <mapping class="pojo.Desembolso" />
        <mapping class="pojo.DesembolsoTipo" />
        <mapping class="pojo.Documento" />
        <mapping class="pojo.Entidad" />
        <mapping class="pojo.EstadoTabla" />
        <mapping class="pojo.Etiqueta" />
        <mapping class="pojo.Formulario" />
        <mapping class="pojo.FormularioItem" />
        <mapping class="pojo.FormularioItemTipo" />
        <mapping class="pojo.FormularioItemValor" />
        <mapping class="pojo.FormularioItemOpcion" />
        <mapping class="pojo.FormularioTipo" />
        <mapping class="pojo.Hito" />
        <mapping class="pojo.HitoResultado" />
        <mapping class="pojo.HitoTipo" />
        <mapping class="pojo.InteresTipo" />
        <mapping class="pojo.LineaBase" />
        <mapping class="pojo.Meta" />
        <mapping class="pojo.MetaTipo" />
        <mapping class="pojo.MetaUnidadMedida" />
        <mapping class="pojo.MetaAvance" />
        <mapping class="pojo.MetaAvanceId" />
        <mapping class="pojo.MetaPlanificado" />
        <mapping class="pojo.MetaPlanificadoId" />
        <mapping class="pojo.ObjetoFormulario" />
        <mapping class="pojo.ObjetoPrestamo" />
        <mapping class="pojo.ObjetoRecurso" />
        <mapping class="pojo.ObjetoRiesgo" />
        <mapping class="pojo.ObjetoRiesgoId" />
        <mapping class="pojo.PepDetalle" />
        <mapping class="pojo.PlanAdquisicionPago" />
        <mapping class="pojo.PlanAdquisicion" />
        <mapping class="pojo.Permiso" />
        <mapping class="pojo.Prestamo" />
        <mapping class="pojo.PrestamoUsuario" />
        <mapping class="pojo.PrestamoUsuarioId" />
        <mapping class="pojo.PrestamoTipo" />
        <mapping class="pojo.PrestamoTipoPrestamo" />
        <mapping class="pojo.PrestamoTipoPrestamoId" />
        <mapping class="pojo.ProdtipoPropiedad" />
        <mapping class="pojo.Producto" />
        <mapping class="pojo.ProductoPropiedad" />
        <mapping class="pojo.ProductoPropiedadValor" />
        <mapping class="pojo.ProductoTipo" />
        <mapping class="pojo.Programa" />
        <mapping class="pojo.ProgramaPropiedadValor" />
        <mapping class="pojo.ProgramaPropiedad" />
        <mapping class="pojo.ProgramaTipo" />
        <mapping class="pojo.ProgtipoPropiedad" />
        <mapping class="pojo.Proyecto" />
        <mapping class="pojo.ProyectoMiembro" />
        <mapping class="pojo.ProyectoImpacto" />
        <mapping class="pojo.ProyectoPropiedadValor" />
        <mapping class="pojo.ProyectoPropiedad" />
        <mapping class="pojo.ProyectoRolColaborador" />
        <mapping class="pojo.ProgramaProyecto" />
        <mapping class="pojo.ProyectoTipo" />
        <mapping class="pojo.PtipoPropiedad" />
        <mapping class="pojo.RectipoPropiedad" />
        <mapping class="pojo.Recurso" />
        <mapping class="pojo.RecursoPropiedad" />
        <mapping class="pojo.RecursoTipo" />
        <mapping class="pojo.RecursoUnidadMedida" />
        <mapping class="pojo.Riesgo" />
        <mapping class="pojo.RiesgoPropiedad" />
        <mapping class="pojo.RiesgoPropiedadValor" />
        <mapping class="pojo.RiesgoTipo" />
        <mapping class="pojo.Rol" />
        <mapping class="pojo.RolPermiso" />
        <mapping class="pojo.RolUnidadEjecutora" />
        <mapping class="pojo.RolUsuarioProyecto" />
        <mapping class="pojo.RolUsuarioProyectoId" />
        <mapping class="pojo.RtipoPropiedad" />
        <mapping class="pojo.SctipoPropiedad" />
        <mapping class="pojo.SctipoPropiedadId" />
        <mapping class="pojo.Subcomponente" />
        <mapping class="pojo.SubcomponentePropiedad" />
        <mapping class="pojo.SubcomponentePropiedadValor" />
        <mapping class="pojo.SubcomponentePropiedadValorId" />
        <mapping class="pojo.SubcomponenteTipo" />
        <mapping class="pojo.SubcomponenteUsuario" />
        <mapping class="pojo.SubcomponenteUsuarioId" />
        <mapping class="pojo.SubprodtipoPropiedad" />
        <mapping class="pojo.SubprodtipoPropiedadId" />
        <mapping class="pojo.Subproducto" />
        <mapping class="pojo.SubproductoPropiedad" />
        <mapping class="pojo.SubproductoPropiedadValor" />
        <mapping class="pojo.SubproductoPropiedadValorId" />
        <mapping class="pojo.SubproductoTipo" />
        <mapping class="pojo.SubproductoUsuario" />
        <mapping class="pojo.SubproductoUsuarioId" />
        <mapping class="pojo.TipoAdquisicion" />
        <mapping class="pojo.TipoMoneda" />
        <mapping class="pojo.UnidadEjecutora" />
        <mapping class="pojo.UnidadMedida" />
        <mapping class="pojo.Usuario" />
        <mapping class="pojo.UsuarioLog" />
        <mapping class="pojo.UsuarioPermiso" />
        <mapping class="pojo.CategoriaAdquisicion" />
        <mapping class="pojo.EjecucionEstado" />
        <mapping class="pojoSigade.DtmAvanceFisfinanDetDti" />
        <mapping class="pojoSigade.DtmAvanceFisfinanDti" />
    </session-factory>
</hibernate-configuration>
