@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	height: 100%;
	background-color: transparent;
}

#mainview{
	height: calc(100% - 30px);
	width: 95%;
	margin: 0 auto;
	display: block;
	padding-top: 51px;
}

.all_page{
	height: 100%;
}

.hidebar{
	top:-52px;
}

.showbar{
	top: 0;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}

nav.navbar{
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.nav-show-menu{
	position:absolute;
   	top:0;
   	right:0;
   	background-color: #1f3b6a;
   	padding-left: 5px;
}

.nav-show-menu>a{
   	color: #9d9d9d;
}

div.nav-show-menu:hover > a{
   	color: #ffffff;
}

.maincontainer{
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 2px;
}

.row-fluid {
	height: 100%;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.grid-align-right{
	text-align: right;
}

.grid-align-center{
	text-align: center;
}

.grid-align-left{
	text-align: left;
}

.ui-grid-grid-footer {
	padding-top: 2px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ui-grid-cell {
	overflow: visible;
}

.ui-grid-header-center{
	text-align: center;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     height: 48px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
     padding-right: 25px;
}


.grid_loading{
	position: absolute;
	top: 0;
  	bottom: 0;
  	width: 100%;
}

.grid_loading .msg {
  opacity: 1;
  position: absolute;
  background-color: rgba(238,238,238,0.85);
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.grid_loading .msg span {
  display: table-cell;
  vertical-align: middle;
}


.footer{
	padding: 5px 0px 10px 0px;
	bottom: 0px;
	width: 100%;
	display: flex;
}

.context-menu{

}

.context-menu .dropdown-menu {
	min-width: 100px;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

.operation_buttons{
	margin-bottom: 15px;
}

.div_alertas{
	position: fixed;
	bottom: 10px;
	width: 100%;
	font-size: 16px;
	padding: 0 40px 0 40px;
	z-index: 1000;
}

.ng-invalid, .ng-invalid:invalid {
   border-color: #a94442;
}

.panel-auditoria{
	padding: 10px;
}

.main-form{
	width: 80%;
	margin: auto;
}

.second-main-form{
	width: 90%;
	margin: auto;
}

.table-propiedades{
	background-color: white;
}

.navbar-inverse{
	background-color: #1f3b6a;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #1f3b6a;
}

.total-rows{
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

.gantt-chart{
	overflow-y: scroll;
	height: calc(100% - 105px);
	position: relative;
}

.gantt-chart-header-column{
	padding: 3px;
	font-weight: bold;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

input:focus ~ .floating-label,
input:not([value=""]) ~ .floating-label{
  top: -2px;
  bottom: 10px;
  font-size: 11px;
  opacity: 1;
  border: none;
  outline-width: 0;
}

input:focus ~ .floating-label{
  color: rgb(63, 81, 181);
}

input:focus{
	outline-width: 0;
}

select ~ .floating-label{
  top: -2px;
  bottom: 10px;
  font-size: 11px;
  opacity: 1;
  border: none;
  outline-width: 0;
}

select:focus ~ .floating-label{
  color: rgb(63, 81, 181);
}

select:focus{
	outline-width: 0;
}

input[type='checkbox']:not([value=""]) ~ .floating-label {
	left: 5px;
	top: -5px;
}

.inputText:focus {
   	border-bottom: 2px solid rgb(63, 81, 181);
}
    
.inputText {
  font-size: 14px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  background: transparent;
}

		
.form-group {
  position: relative;
  padding: 5px;    
  margin-bottom: 3px;
}

.form-group-row {
  position: relative;
  padding: 5px;    
  margin-bottom: 15px;
  margin-left: 0px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  transition: 0.2s ease all;
  border: none;
  color: rgba(0,0,0,0.38);
  font-weight: bold;
}	

.label-icon{
	right: 5px;
    top: 12px;
    position: absolute;
}

.label-form{
	 font-size: 11px;
	 opacity: 1;
	 pointer-events: none;
	 color: rgba(0,0,0,0.38) !important;
	 font-weight: bold;
	 text-align: center;
}
